In [1]:
# Load the dataset using Jupyter notebook
# Info about the data can be found here: https://www.medicaid.gov/medicaid/prescription-drugs/state-drug-utilization-data/state-drug-utilization-data-faq/index.html?search_api_fulltext=91956
import pandas as pd
data_2010 = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv', sep=',')

In [2]:
# Look at the first 5 rows of the 2010 dataset
data_2010.head(5)

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.000,...,1,4.08,4.08,0.0,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.000,...,8,103.33,103.33,0.0,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388
2,2568076,FFSU,UT,46987,323,11,2010,2,Kadian Ora,120.000,...,2,905.24,905.24,0.0,4/1,04/01/2010,44.2853,-99.4632,"(44.2853, -99.4632)",46987032311
3,491263,FFSU,MN,781,5185,1,2010,4,LEVOTHYROX,1114.000,...,34,312.22,306.22,6.0,10/1,10/01/2010,43.3504,-84.5603,"(43.3504, -84.5603)",781518501
4,836489,FFSU,XX,51552,809,6,2010,2,COLD CREAM,226.089,...,7,52.87,52.87,0.0,4/1,04/01/2010,NaN,NaN,NaN,51552080906

In [3]:
# Look at the columns in the 2010 data
data_2010.columns

Index(['Unnamed: 0', 'Utilization Type', 'State', 'Labeler Code',
       'Product Code', 'Package Size', 'Year', 'Quarter', 'Product Name',
       'Units Reimbursed', 'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [4]:
# Call the dtypes attribute to get a list of the data types stored in each column of our dataframe
print(data_2010.dtypes)

Unnamed: 0                          int64
Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                        int64
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions             int64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                 int64
dtype: object

In [5]:
# Convert State column of non-categorical type into a categorical type
data_2010['State'] = data_2010['State'].astype('category')

In [6]:
# View the new data types stored in each column after changing the State
# column from a non-categorical type into a categorical type
print(data_2010.dtypes)

Unnamed: 0                           int64
Utilization Type                    object
State                             category
Labeler Code                         int64
Product Code                         int64
Package Size                         int64
Year                                 int64
Quarter                              int64
Product Name                        object
Units Reimbursed                   float64
Suppression Used                      bool
Number of Prescriptions              int64
Total Amount Reimbursed            float64
Medicaid Amount Reimbursed         float64
Non Medicaid Amount Reimbursed     float64
Quarter Begin                       object
Quarter Begin Date                  object
Latitude                           float64
Longitude                          float64
Location                            object
NDC                                  int64
dtype: object

In [7]:
# Convert Product Name column of non-categorical type into a categorical type
data_2010['Product Name'] = data_2010['Product Name'].astype('category')

In [8]:
# View the new data types stored in each column after changing the Product
# column from a non-categorical type into a categorical type
print(data_2010.dtypes)

Unnamed: 0                           int64
Utilization Type                    object
State                             category
Labeler Code                         int64
Product Code                         int64
Package Size                         int64
Year                                 int64
Quarter                              int64
Product Name                      category
Units Reimbursed                   float64
Suppression Used                      bool
Number of Prescriptions              int64
Total Amount Reimbursed            float64
Medicaid Amount Reimbursed         float64
Non Medicaid Amount Reimbursed     float64
Quarter Begin                       object
Quarter Begin Date                  object
Latitude                           float64
Longitude                          float64
Location                            object
NDC                                  int64
dtype: object

In [9]:
# Convert the Quarter column from an integer to a string
data_2010['Quarter'] = data_2010['Quarter'].astype(str)
# View the new data types stored in each column
print(data_2010.dtypes)

Unnamed: 0                           int64
Utilization Type                    object
State                             category
Labeler Code                         int64
Product Code                         int64
Package Size                         int64
Year                                 int64
Quarter                             object
Product Name                      category
Units Reimbursed                   float64
Suppression Used                      bool
Number of Prescriptions              int64
Total Amount Reimbursed            float64
Medicaid Amount Reimbursed         float64
Non Medicaid Amount Reimbursed     float64
Quarter Begin                       object
Quarter Begin Date                  object
Latitude                           float64
Longitude                          float64
Location                            object
NDC                                  int64
dtype: object

In [10]:
# create a dataframe showing all the unique values in a column
unique_counts = pd.DataFrame.from_records([(col, data_2010[col].nunique()) for col in data_2010.columns],
                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])
unique_counts

                       Column_Name  Num_Unique
10                Suppression Used           1
6                             Year           1
1                 Utilization Type           2
7                          Quarter           4
16              Quarter Begin Date           4
15                   Quarter Begin           4
18                       Longitude          51
19                        Location          51
17                        Latitude          51
2                            State          52
5                     Package Size         100
3                     Labeler Code         572
11         Number of Prescriptions        4629
4                     Product Code        5192
8                     Product Name       10190
14  Non Medicaid Amount Reimbursed       24091
20                             NDC       27376
9                 Units Reimbursed       31845
13      Medicaid Amount Reimbursed       95242
12         Total Amount Reimbursed       96452
0                       Unnamed: 0      152281