# Assignment for Week 7

# Purpose
This assignment is intended to help you do the following:

Groupby operations to aggregate, transform, and filter data

Built-in and custom user functions to perform groupby operations

# About the assignment
The function 'get_data_table' takes 4 parameters, df, date_col, group_col, type_x.

The 'df' represents the dataframe.

The 'date_col' represents the date column.

The group_col represents the column to groupby and

The 'type_x' represents the column with a specific value/category == 'type_x'.

In [1]:
def get_data_table(df, date_col, group_col, type_x):
    df_gross = (df.loc[(df.type == type_x) &
                                      df.category.isin(['category_x', 'category_xy', 'category_xyz'])
                                     ]
                         .groupby([group_col, date_col]).sum()
                         .unstack(date_col)['amount'].fillna(0)
                         .resample('M', axis=1).sum()
                        )

    df_recovered = (df.loc[(df.type == type_x) &
                                  df.category.isin(['category_01', 'category_05', 'category_07'])
                                 ]
                    .groupby([group_col, date_col]).sum()
                    .unstack(date_col)['amount'].fillna(0)
                    .resample('M', axis=1).sum()
                    )

    return df_gross.add(df_recovered * -1, fill_value=0)

## Tasks
1. Read the function above and in a 1-3 paragraphs explain its purpose

    The code above is a custom user function. It performs a calculation that is not provided by Pandas or another library. Once the custom user function has been created, it can be used multiple times on whatever columns or categories are specified and needed. It's especially important to pay attention to the dtypes on the columns used for custom functions, as sometimes they will not work unless you specify what type you want to use or format you want to put the column into. 

    Overall, the code above is creating two functions, then taking the result from df_gross and adding it to the the result of df_recoverd timesed by negative one, and here all the nan/missing values are filled in with zero. Both the df_gross and df_recovered are creating a subset for the specified type and category that are contained in certain rows and columns, then grouping them by a specific date column and additional column, then summing these, and using unstack converts these back into columns while filling the missing values with zero. Finally the sums are taken and resampled by the columns. 
    
    I'm assuming this code might be used more for some type of financial analysis...where they're looking at a gross amount and calculating a recovered amount and finding a result from the two.

Additional info about the code:
#. loc is label-based, which means that you have to specify rows and columns based on their row and column labels.

#. df.type == type_x ---> you're matching the dataframe with the type_x datatype

#. isin is lets you select data whose value "is in" a list of values

#. df.category.isin(['category_x', 'category_xy', 'category_xyz']--> searching whether it is in these 3 cateogaries ..namely 'category_x', 'category_xy', 'category_xyz'

#. df_gross --> contains a set of columns which satisfies both type_x and isin condition.

#. unstack()--> It also works with multi-index objects in dataframe, producing a reshaped DataFrame with a new inner-most level of column labels.

#. grouping is done based on 2 values 'group_col' and 'date_col' then taking sum using sum() function and using unstack we're just converting it back into columns and

#. fillna()--> fills missing values with the mentioned value

#. here missing values are replaced with the value 0.

## Tasks continued 
2. Apply the function to your selected dataframe and modify as needed based on your preferences.

In [2]:
# Load the dataset 
import pandas as pd
data_2010 = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv', sep=',')
# Look at the first 10 rows of the 2010 dataset and subset it into a new df called subset_data_2010
subset_data_2010=data_2010.head(10)
subset_data_2010

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.000,...,1,4.08,4.08,0.00,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.000,...,8,103.33,103.33,0.00,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388
2,2568076,FFSU,UT,46987,323,11,2010,2,Kadian Ora,120.000,...,2,905.24,905.24,0.00,4/1,04/01/2010,44.2853,-99.4632,"(44.2853, -99.4632)",46987032311
3,491263,FFSU,MN,781,5185,1,2010,4,LEVOTHYROX,1114.000,...,34,312.22,306.22,6.00,10/1,10/01/2010,43.3504,-84.5603,"(43.3504, -84.5603)",781518501
4,836489,FFSU,XX,51552,809,6,2010,2,COLD CREAM,226.089,...,7,52.87,52.87,0.00,4/1,04/01/2010,NaN,NaN,NaN,51552080906
5,2468555,FFSU,WI,143,1785,1,2010,3,BUTALBITAL,5138.000,...,82,1071.43,951.92,119.51,7/1,07/01/2010,37.7680,-78.2057,"(37.768, -78.2057)",143178501
6,73349,FFSU,WI,45802,257,42,2010,1,MOMETASONE,12030.000,...,92,2527.49,2352.86,174.63,1/1,01/01/2010,37.7680,-78.2057,"(37.768, -78.2057)",45802025742
7,1166159,FFSU,MI,527,586,10,2010,2,DICYCLOMIN,120.000,...,3,14.43,14.43,0.00,4/1,04/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",527058610
8,2326672,FFSU,NE,68382,30,1,2010,1,METFORMIN,2029.000,...,35,367.55,367.55,0.00,1/1,01/01/2010,35.6411,-79.8431,"(35.6411, -79.8431)",68382003001
9,413825,FFSU,MI,172,4366,60,2010,3,LABETALOL,4657.000,...,51,1605.45,1556.07,49.38,7/1,07/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",172436660

In [3]:
# Call the dtypes attribute to get a list of the data types stored in each column of our dataframe
print(subset_data_2010.dtypes)

Unnamed: 0                          int64
Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                        int64
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions             int64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                 int64
dtype: object

In [4]:
# Simple function
# here both x and y are both columns on the df
def start_small(df, x, y):
    # concatenating column x with a space and column y, then putting it into new column, named z
    # use str before if you want to convert another dtype like int or float into a string
    # df['z']= (str(df[x])+'-'+str(df[y])
        df['z']= (df[x])+'-'+(df[y])
        # return the calculation you've specified above in column z
        return df['z']

In [5]:
# Call the custom function start_small and define what columns to use on the subsetted df
start_small(subset_data_2010, 'Utilization Type', 'State')

<ipython-input-4-39567187507b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['z']= (df[x])+'-'+(df[y])

0    MCOU-MA
1    FFSU-FL
2    FFSU-UT
3    FFSU-MN
4    FFSU-XX
5    FFSU-WI
6    FFSU-WI
7    FFSU-MI
8    FFSU-NE
9    FFSU-MI
Name: z, dtype: object

In [6]:
# Create a custom function to find an average amount
def Average_Reimbursed(df, x, y):
    # dividing column x by column y, then putting it into new column, named Avg_Amt_Reimbursed
        df['Avg_Amt_Reimbursed']= (df[x])/(df[y])
        # return the calculation you've specified above in column Avg_Amt_Reimbursed
        return df['Avg_Amt_Reimbursed']

In [7]:
# Here we're taking the Total Amount Reimbursed and dividing it by the Number of Prescriptions to find  
# the average amount reimbursed based on how many prescriptions there were
# Call the custom function Average_Reimbursed and define what columns to use
Average_Reimbursed(subset_data_2010, 'Total Amount Reimbursed', 'Number of Prescriptions')

<ipython-input-6-96aefae328bc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Avg_Amt_Reimbursed']= (df[x])/(df[y])

0      4.080000
1     12.916250
2    452.620000
3      9.182941
4      7.552857
5     13.066220
6     27.472717
7      4.810000
8     10.501429
9     31.479412
Name: Avg_Amt_Reimbursed, dtype: float64

In [8]:
# Check to make sure the Avg_Amt_Reimbursed column was added, along w/ the correct calculated data
subset_data_2010.head(10)

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC,z,Avg_Amt_Reimbursed
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.000,...,4.08,0.00,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705,MCOU-MA,4.080000
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.000,...,103.33,0.00,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388,FFSU-FL,12.916250
2,2568076,FFSU,UT,46987,323,11,2010,2,Kadian Ora,120.000,...,905.24,0.00,4/1,04/01/2010,44.2853,-99.4632,"(44.2853, -99.4632)",46987032311,FFSU-UT,452.620000
3,491263,FFSU,MN,781,5185,1,2010,4,LEVOTHYROX,1114.000,...,306.22,6.00,10/1,10/01/2010,43.3504,-84.5603,"(43.3504, -84.5603)",781518501,FFSU-MN,9.182941
4,836489,FFSU,XX,51552,809,6,2010,2,COLD CREAM,226.089,...,52.87,0.00,4/1,04/01/2010,NaN,NaN,NaN,51552080906,FFSU-XX,7.552857
5,2468555,FFSU,WI,143,1785,1,2010,3,BUTALBITAL,5138.000,...,951.92,119.51,7/1,07/01/2010,37.7680,-78.2057,"(37.768, -78.2057)",143178501,FFSU-WI,13.066220
6,73349,FFSU,WI,45802,257,42,2010,1,MOMETASONE,12030.000,...,2352.86,174.63,1/1,01/01/2010,37.7680,-78.2057,"(37.768, -78.2057)",45802025742,FFSU-WI,27.472717
7,1166159,FFSU,MI,527,586,10,2010,2,DICYCLOMIN,120.000,...,14.43,0.00,4/1,04/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",527058610,FFSU-MI,4.810000
8,2326672,FFSU,NE,68382,30,1,2010,1,METFORMIN,2029.000,...,367.55,0.00,1/1,01/01/2010,35.6411,-79.8431,"(35.6411, -79.8431)",68382003001,FFSU-NE,10.501429
9,413825,FFSU,MI,172,4366,60,2010,3,LABETALOL,4657.000,...,1556.07,49.38,7/1,07/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",172436660,FFSU-MI,31.479412

In [13]:
# Create a custom function to find an average amount
def my_mean(values):
    # get the total number of numbers for the denominator
    n = len(values)
    # start the sum at 0
    sum = 0
    for value in values:
        # add each value to the running sum
        sum += value
    # return the summed values divided by the number of values
    return(sum / n)

In [12]:
# Rename Total Amount Reimbursed column to Total_Amount_Reimbursed on the original df
data_2010['Total_Amount_Reimbursed']= data_2010['Total Amount Reimbursed']
data_2010.head(1)

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC,Total_Amount_Reimbursed
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.0,...,4.08,4.08,0.0,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705,4.08

In [14]:
# Find the mean for each state of the Total_Amount_Reimbursed using the calculated function created in the step above
agg_my_mean = data_2010.groupby('State').Total_Amount_Reimbursed.agg(my_mean)
print(agg_my_mean)

State
AK      4584.518737
AL     11052.315548
AR      7557.338108
AZ      6918.264019
CA     37349.949920
CO      5827.090972
CT      8013.010252
DC      3224.865233
DE      3853.410766
FL     15678.616614
GA     12301.776671
HI     14306.110351
IA      5786.880711
ID      3139.412248
IL     22899.774802
IN     12440.136146
KS      3481.317942
KY      7166.981920
LA     20596.229492
MA     10342.292925
MD      4327.259697
ME      5328.714226
MI      8135.756082
MN      4262.394613
MO     19180.550153
MS      7237.881720
MT      1914.103151
NC     20343.451951
ND      1644.634474
NE      3605.864529
NH      2712.893955
NJ      6509.347607
NM      4126.432017
NV      2709.551605
NY     58230.228564
OH     21628.969395
OK      9510.720470
OR      4067.834577
PA     11211.713933
RI       449.579494
SC      5325.393801
SD      2006.359551
TN     13771.135913
TX     38087.511667
UT      4415.292278
VA      6883.779745
VT      3728.841267
WA      7085.837401
WI     16246.493470
WV      7856.980844
WY      1719.387056
XX    159854.838095
Name: Total_Amount_Reimbursed, dtype: float64

In [36]:
import numpy as np
# calculate the count, mean, std of the Total_Amount_Reimbursed by State
gdf = data_2010.groupby('State').Total_Amount_Reimbursed.agg([np.count_nonzero,np.sum,np.mean,np.std])
print (gdf)

       count_nonzero           sum           mean           std
State
AK            1520.0  6.968468e+06    4584.518737  4.327943e+04
AL            2621.0  2.896812e+07   11052.315548  6.224025e+04
AR            2151.0  1.625583e+07    7557.338108  4.627200e+04
AZ            3956.0  2.736865e+07    6918.264019  6.719898e+04
CA            5715.0  2.136044e+08   37349.949920  3.433137e+05
CO            2016.0  1.174742e+07    5827.090972  2.891068e+04
CT            2694.0  2.158705e+07    8013.010252  4.542865e+04
DC            1462.0  4.714753e+06    3224.865233  2.056157e+04
DE            1671.0  6.439049e+06    3853.410766  2.060813e+04
FL            5146.0  8.069784e+07   15678.616614  1.196804e+05
GA            2854.0  3.510927e+07   12301.776671  6.958237e+04
HI            1026.0  1.469238e+07   14306.110351  6.710773e+04
IA            2251.0  1.302627e+07    5786.880711  3.739650e+04
ID            1744.0  5.475135e+06    3139.412248  1.811963e+04
IL            3061.0  7.009621e+07   22899.774802  1.618302e+05
IN            3243.0  4.034336e+07   12440.136146  9.220817e+04
KS            2813.0  9.792947e+06    3481.317942  2.099759e+04
KY            5240.0  3.755499e+07    7166.981920  4.784242e+04
LA            2655.0  5.468299e+07   20596.229492  1.427060e+05
MA            3100.0  3.207145e+07   10342.292925  1.343845e+05
MD            4755.0  2.057612e+07    4327.259697  3.241176e+04
ME            2073.0  1.104642e+07    5328.714226  3.427525e+04
MI            5216.0  4.264763e+07    8135.756082  8.337228e+04
MN            4895.0  2.086442e+07    4262.394613  2.839224e+04
MO            3144.0  6.030365e+07   19180.550153  1.257581e+05
MS            2628.0  1.902115e+07    7237.881720  4.495946e+04
MT            1698.0  3.250147e+06    1914.103151  8.596841e+03
NC            3254.0  6.619759e+07   20343.451951  1.251147e+05
ND            1408.0  2.315645e+06    1644.634474  6.826869e+03
NE            2506.0  9.036297e+06    3605.864529  3.264904e+04
NH            2066.0  5.604839e+06    2712.893955  1.634364e+04
NJ            4659.0  3.032705e+07    6509.347607  4.418325e+04
NM            1070.0  4.419409e+06    4126.432017  3.478608e+04
NV            3008.0  8.153041e+06    2709.551605  1.868782e+04
NY            3406.0  1.983322e+08   58230.228564  3.641641e+05
OH            3238.0  7.003460e+07   21628.969395  1.588420e+05
OK            2381.0  2.264503e+07    9510.720470  5.780210e+04
OR            3048.0  1.245978e+07    4067.834577  3.433725e+04
PA            5090.0  5.715732e+07   11211.713933  7.019507e+04
RI            1244.0  5.592769e+05     449.579494  2.611388e+03
SC            4693.0  2.499207e+07    5325.393801  3.394772e+04
SD            1516.0  3.041641e+06    2006.359551  1.208960e+04
TN            2733.0  3.763651e+07   13771.135913  1.079800e+05
TX            2879.0  1.096539e+08   38087.511667  1.785675e+05
UT            2015.0  8.896814e+06    4415.292278  2.546792e+04
VA            2946.0  2.027962e+07    6883.779745  5.099725e+04
VT            1752.0  6.532930e+06    3728.841267  2.661533e+04
WA            2951.0  2.091031e+07    7085.837401  4.411696e+04
WI            2530.0  4.110363e+07   16246.493470  9.387697e+04
WV            2333.0  1.833034e+07    7856.980844  4.797212e+04
WY            1284.0  2.207693e+06    1719.387056  8.724172e+03
XX           10801.0  1.727072e+09  159854.838095  1.491277e+06

In [19]:
# Group all the columns by state
grouped = data_2010.groupby('State')
# get the 'Ohio' group
Ohio = grouped.get_group('OH')
print(Ohio)

        Unnamed: 0 Utilization Type State  Labeler Code  Product Code  \
50         2435864             FFSU    OH           536          4074
54         2754356             FFSU    OH         16714           652
118        2989564             FFSU    OH           536          1362
127        2309596             FFSU    OH         63739            49
150        2517162             FFSU    OH           904           726
...            ...              ...   ...           ...           ...
156093     2687398             FFSU    OH         63304           445
156108      923702             FFSU    OH            49          3970
156128     2377655             FFSU    OH         49348           680
156153      343585             FFSU    OH         51672          1279
156201      158467             FFSU    OH           264          7612

        Package Size  Year  Quarter Product Name  Units Reimbursed  ...  \
50                 1  2010        3    NIACIN SA            2786.0  ...
54                 2  2010        2   CIPROFLOXA            7049.0  ...
118               34  2010        2   NICOTINE 2              40.0  ...
127               10  2010        2   CARISOPROD              90.0  ...
150               45  2010        3   TOLNAFTATE             585.0  ...
...              ...   ...      ...          ...               ...  ...
156093            10  2010        2   OMEPRAZOLE              85.0  ...
156108            60  2010        4    GEODON 40          150325.0  ...
156128            39  2010        3   SM MILK OF            3905.0  ...
156153             1  2010        2   FLUOCINONI             315.0  ...
156201             0  2010        2   DEXTROSE 5           46148.0  ...

        Total Amount Reimbursed  Medicaid Amount Reimbursed  \
50                       163.60                      163.60
54                      1671.05                     1671.05
118                       17.56                       17.56
127                        7.47                        4.47
150                       49.16                       49.16
...                         ...                         ...
156093                   105.19                       96.19
156108               1046734.23                  1046734.23
156128                    24.62                       24.62
156153                   178.35                      178.35
156201                   188.55                      185.37

        Non Medicaid Amount Reimbursed  Quarter Begin  Quarter Begin Date  \
50                                0.00            7/1          07/01/2010
54                                0.00            4/1          04/01/2010
118                               0.00            4/1          04/01/2010
127                               3.00            4/1          04/01/2010
150                               0.00            7/1          07/01/2010
...                                ...            ...                 ...
156093                            9.00            4/1          04/01/2010
156108                            0.00           10/1          10/01/2010
156128                            0.00            7/1          07/01/2010
156153                            0.00            4/1          04/01/2010
156201                            3.18            4/1          04/01/2010

       Latitude Longitude              Location          NDC  \
50      38.4199 -117.1219  (38.4199, -117.1219)    536407401
54      38.4199 -117.1219  (38.4199, -117.1219)  16714065202
118     38.4199 -117.1219  (38.4199, -117.1219)    536136234
127     38.4199 -117.1219  (38.4199, -117.1219)  63739004910
150     38.4199 -117.1219  (38.4199, -117.1219)    904072645
...         ...       ...                   ...          ...
156093  38.4199 -117.1219  (38.4199, -117.1219)  63304044510
156108  38.4199 -117.1219  (38.4199, -117.1219)     49397060
156128  38.4199 -117.1219  (38.4199, -117.1219)  49348068039
156153  38.4199 -117.1219  (38.4199, -117.1219)  51672127901
156201  38.4199 -117.1219  (38.4199, -117.1219)    264761200

       Total_Amount_Reimbursed
50                      163.60
54                     1671.05
118                      17.56
127                       7.47
150                      49.16
...                        ...
156093                  105.19
156108              1046734.23
156128                   24.62
156153                  178.35
156201                  188.55

[3238 rows x 22 columns]

In [37]:
def my_func(df, x, y):
    category1 = 'Quarter'
    category2 = "State"
    category_values2 = ["OH" , "MI"]
    df2 = df[df[category2].isin(category_values2)].groupby([category1,category2]).sum().unstack()
    return df2

In [40]:
my_func(data_2010, 'State', 'Quarter')
#my_func(data_2010, 'Total Amount Reimbursed', 'Quarter')

         Unnamed: 0             Labeler Code           Product Code           \
State            MI          OH           MI        OH           MI       OH
Quarter
1        1637067115  1202430205     27538329  19389494      1948697  1301267
2        2152040948  1383583637     34573925  21247609      2472282  1554562
3        2221675295  1292832295     35115850  19531217      2588398  1603821
4        2200334410  1320002530     37325453  20245751      2430865  1337521

        Package Size            Year           ...  \
State             MI     OH       MI       OH  ...
Quarter                                        ...
1              23629  16465  2174820  1525590  ...
2              30374  18254  2721540  1722570  ...
3              32029  19356  2805960  1650210  ...
4              30986  15890  2834100  1610010  ...

        Non Medicaid Amount Reimbursed               Latitude              \
State                               MI         OH          MI          OH
Quarter
1                            591656.35   57642.73  48265.2068  29160.7041
2                            454876.83  103105.95  60398.4196  32925.8543
3                            744045.20   67264.61  62271.9304  31542.7379
4                           1091098.15   47636.70  62896.4340  30774.3399

          Longitude                          NDC                  \
State            MI           OH              MI              OH
Quarter
1       -75088.3114  -88895.5221  27538523893329  19389624143165
2       -93964.4858 -100373.4683  34574172258574  21247764474454
3       -96879.1892  -96157.0799  35116108871829  19531377401456
4       -97850.7570  -93814.6419  37325696117486  20245884767990

        Total_Amount_Reimbursed
State                        MI           OH
Quarter
1                    9271446.82  10011167.33
2                    7063490.84  21392676.02
3                   14018215.78  23779914.78
4                   12294479.94  14850844.77

[4 rows x 30 columns]

## Tasks continued 
3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

   When writing custom functions, it's very important to make sure the dtypes are in the correct format, or that you tell your function to convert the columns into the correct format. If not, you'll get an error. I also found it difficult to create custom functions on columns whose name included a space. To avoid errors, I renamed the fields I wanted to use so that the spaces were eliminated and underscores were used instead (e.g.: 'Total Amount Reimbursed' became 'Total_Amount_Reimbursed'). I also found it difficult to create complex custom functions and understand what they mean.