In [1]:
# Load the dataset using Jupyter notebook
# For this assignment, I'm using the stocks dataset
import pandas as pd
stocks = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv', sep=',')

In [2]:
# Review the dataset
stocks

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
0,1,Nov 21 2019,GOOG - Alphabet Inc.,"1,301.35",-1.70 (-0.13%),"1,301.35","1,303.05","1,301.48","1,293.01 - 1,312.45","970.11 - 1,335.53","825,205","1,280,155",897.113B,1.01,27.93,46.6,NaN,N/A (N/A),"1,487.52"
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,"1,300.14",-1.72 (-0.13%),"1,300.14","1,301.86","1,299.25","1,290.75 - 1,311.04","977.66 - 1,333.92","1,058,179","1,296,875",897.098B,1.01,27.9,46.6,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),"1,459.33"
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.2,133.4,132.98 - 134.17,105.94 - 152.95,"2,732,256","3,483,052",118.534B,1.34,15.55,8.6,21-Jan-20,6.48 (4.86%),148.3
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.4,148.51 - 149.80,93.96 - 151.33,"16,125,077","22,813,109",1.14T,1.23,28.2,5.3,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,"28,768,117","25,813,040",1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67900,67901,Apr 28 2020,FLEX - Flex Ltd.,9.11,+0.30 (+3.41%),9.11,8.81,9.11,8.87 - 9.31,5.36 - 14.00,"4,175,426","5,924,769",4.591B,1.88,NaN,-0.05,7-May-20,N/A (N/A),12.83
67901,67902,Apr 28 2020,"MEI - Methode Electronics, Inc.",29.84,+0.32 (+1.08%),29.84,29.52,30.19,29.70 - 30.75,21.76 - 41.70,"206,184","236,257",1.107B,1.43,9.72,3.07,"Jun 18, 2020 - Jun 22, 2020",0.44 (1.49%),33.33
67902,67903,Apr 28 2020,IEC - IEC Electronics Corp.,7.01,0.00 (0.00%),7.01,7.01,7.1,6.93 - 7.10,5.00 - 9.57,"3,880","34,352",72.812M,0.94,15.24,0.46,6-May-20,N/A (N/A),11.5
67903,67904,Apr 28 2020,"MGLN - Magellan Health, Inc.",55.11,-0.03 (-0.05%),55.11,55.14,54.74,53.28 - 56.21,30.60 - 81.04,"167,075","193,042",1.361B,0.97,24.17,2.28,11-May-20,N/A (N/A),67.67
67904,67905,Apr 28 2020,"ZS - Zscaler, Inc.",66.72,-3.75 (-5.32%),66.72,70.47,71,66.26 - 71.20,35.00 - 89.54,"3,035,697","3,062,403",8.63B,0.54,NaN,-0.5,20-Feb-20,N/A (N/A),67.62

In [3]:
# Call the dtypes attribute to check the data types stored in each column of our dataframe
print(stocks.dtypes)

no                     int64
date                  object
company_name          object
price_at_close        object
price_change          object
price_after_hours     object
previous_close        object
today opened          object
price range           object
52 week range         object
volume                object
average volume        object
market cap            object
beta (3Y Monthly)    float64
PE Ratio              object
EPS                   object
earnings date         object
Dividend Yield        object
1Y target est         object
dtype: object

In [4]:
# import Python’s regex module
import re

In [5]:
# Which rows of the df stocks_company contain a hyphen '-'?
stocks['company_name'].str.contains('-', regex=True)

0        True
1        True
2        True
3        True
4        True
         ...
67900    True
67901    True
67902    True
67903    True
67904    True
Name: company_name, Length: 67905, dtype: bool

In [6]:
# In the column 'company_name', extract the stock symbol and add it to a new column named 'symbol'
stocks['symbol'] = stocks['company_name'].str.extract('([A-Z]\w{0,})', expand=True)
stocks['symbol']

0         GOOG
1        GOOGL
2          IBM
3         MSFT
4         AAPL
         ...
67900     FLEX
67901      MEI
67902      IEC
67903     MGLN
67904       ZS
Name: symbol, Length: 67905, dtype: object

In [7]:
# In the column 'company_name', extract only the company name without the symbol and add it to a new column named 'company_name_cleaned'
stocks['company_name_cleaned'] = stocks['company_name'].str.split('-').str[1]
stocks['company_name_cleaned']

0                                       Alphabet Inc.
1                                       Alphabet Inc.
2         International Business Machines Corporation
3                               Microsoft Corporation
4                                          Apple Inc.
                             ...
67900                                       Flex Ltd.
67901                       Methode Electronics, Inc.
67902                           IEC Electronics Corp.
67903                           Magellan Health, Inc.
67904                                   Zscaler, Inc.
Name: company_name_cleaned, Length: 67905, dtype: object

In [8]:
# Review the dataset to ensure the two columns were created at the end
stocks

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,...,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est,symbol,company_name_cleaned
0,1,Nov 21 2019,GOOG - Alphabet Inc.,"1,301.35",-1.70 (-0.13%),"1,301.35","1,303.05","1,301.48","1,293.01 - 1,312.45","970.11 - 1,335.53",...,"1,280,155",897.113B,1.01,27.93,46.6,NaN,N/A (N/A),"1,487.52",GOOG,Alphabet Inc.
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,"1,300.14",-1.72 (-0.13%),"1,300.14","1,301.86","1,299.25","1,290.75 - 1,311.04","977.66 - 1,333.92",...,"1,296,875",897.098B,1.01,27.9,46.6,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),"1,459.33",GOOGL,Alphabet Inc.
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.2,133.4,132.98 - 134.17,105.94 - 152.95,...,"3,483,052",118.534B,1.34,15.55,8.6,21-Jan-20,6.48 (4.86%),148.3,IBM,International Business Machines Corporation
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.4,148.51 - 149.80,93.96 - 151.33,...,"22,813,109",1.14T,1.23,28.2,5.3,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16,MSFT,Microsoft Corporation
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,...,"25,813,040",1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21,AAPL,Apple Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67900,67901,Apr 28 2020,FLEX - Flex Ltd.,9.11,+0.30 (+3.41%),9.11,8.81,9.11,8.87 - 9.31,5.36 - 14.00,...,"5,924,769",4.591B,1.88,NaN,-0.05,7-May-20,N/A (N/A),12.83,FLEX,Flex Ltd.
67901,67902,Apr 28 2020,"MEI - Methode Electronics, Inc.",29.84,+0.32 (+1.08%),29.84,29.52,30.19,29.70 - 30.75,21.76 - 41.70,...,"236,257",1.107B,1.43,9.72,3.07,"Jun 18, 2020 - Jun 22, 2020",0.44 (1.49%),33.33,MEI,"Methode Electronics, Inc."
67902,67903,Apr 28 2020,IEC - IEC Electronics Corp.,7.01,0.00 (0.00%),7.01,7.01,7.1,6.93 - 7.10,5.00 - 9.57,...,"34,352",72.812M,0.94,15.24,0.46,6-May-20,N/A (N/A),11.5,IEC,IEC Electronics Corp.
67903,67904,Apr 28 2020,"MGLN - Magellan Health, Inc.",55.11,-0.03 (-0.05%),55.11,55.14,54.74,53.28 - 56.21,30.60 - 81.04,...,"193,042",1.361B,0.97,24.17,2.28,11-May-20,N/A (N/A),67.67,MGLN,"Magellan Health, Inc."
67904,67905,Apr 28 2020,"ZS - Zscaler, Inc.",66.72,-3.75 (-5.32%),66.72,70.47,71,66.26 - 71.20,35.00 - 89.54,...,"3,062,403",8.63B,0.54,NaN,-0.5,20-Feb-20,N/A (N/A),67.62,ZS,"Zscaler, Inc."

In [9]:
# Look at the basic characteristics of the stocks df
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67905 entries, 0 to 67904
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   no                    67905 non-null  int64
 1   date                  67905 non-null  object
 2   company_name          67905 non-null  object
 3   price_at_close        67761 non-null  object
 4   price_change          67761 non-null  object
 5   price_after_hours     67761 non-null  object
 6   previous_close        67761 non-null  object
 7   today opened          67750 non-null  object
 8   price range           67756 non-null  object
 9   52 week range         67657 non-null  object
 10  volume                67752 non-null  object
 11  average volume        66584 non-null  object
 12  market cap            67298 non-null  object
 13  beta (3Y Monthly)     63163 non-null  float64
 14  PE Ratio              60220 non-null  object
 15  EPS                   64962 non-null  object
 16  earnings date         57611 non-null  object
 17  Dividend Yield        67625 non-null  object
 18  1Y target est         57931 non-null  object
 19  symbol                67905 non-null  object
 20  company_name_cleaned  67905 non-null  object
dtypes: float64(1), int64(1), object(19)
memory usage: 10.9+ MB

In [10]:
# Import the numpy package
import numpy as np

In [11]:
# Separate the price_at_close and previous_close columns
price = stocks[['price_at_close', 'previous_close']]
price

      price_at_close previous_close
0           1,301.35       1,303.05
1           1,300.14       1,301.86
2             133.84          133.2
3             149.48         149.62
4             262.01         263.19
...              ...            ...
67900           9.11           8.81
67901          29.84          29.52
67902           7.01           7.01
67903          55.11          55.14
67904          66.72          70.47

[67905 rows x 2 columns]

In [12]:
# Convert numbers in the subsetted dataframe price
conv_price = price.apply(pd.to_numeric, errors = 'coerce')

# When trying to convert two columns using the code below, I get an error:
# price = pd.Series(stocks['price_at_close','previous_close']).head(10)

In [13]:
# Fill the missing or zero values with zero
conv_price.fillna(0)

       price_at_close  previous_close
0                0.00            0.00
1                0.00            0.00
2              133.84          133.20
3              149.48          149.62
4              262.01          263.19
...               ...             ...
67900            9.11            8.81
67901           29.84           29.52
67902            7.01            7.01
67903           55.11           55.14
67904           66.72           70.47

[67905 rows x 2 columns]

In [14]:
# Look at the basic characteristics of the conv_price df
conv_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67905 entries, 0 to 67904
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price_at_close  67127 non-null  float64
 1   previous_close  67127 non-null  float64
dtypes: float64(2)
memory usage: 1.0 MB

In [15]:
# Check to make sure all missing values were converted
conv_price.isnull().sum()
# Here, there are still 778 rows (in both columns) that contain null values

price_at_close    778
previous_close    778
dtype: int64

In [16]:
# Convert df to integers
conv_price.astype(int, copy=True, errors='ignore')

       price_at_close  previous_close
0                 NaN             NaN
1                 NaN             NaN
2              133.84          133.20
3              149.48          149.62
4              262.01          263.19
...               ...             ...
67900            9.11            8.81
67901           29.84           29.52
67902            7.01            7.01
67903           55.11           55.14
67904           66.72           70.47

[67905 rows x 2 columns]

In [17]:
# Remove rows with missing values
fnl_price=conv_price.dropna()

In [18]:
# Look at the basic characteristics of the conv_price df
fnl_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67125 entries, 2 to 67904
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price_at_close  67125 non-null  float64
 1   previous_close  67125 non-null  float64
dtypes: float64(2)
memory usage: 1.5 MB

In [19]:
# Calculate the sum for each column in the fnl_price dataset
fnl_price.apply(np.sum)

price_at_close    5.173417e+06
previous_close    5.179340e+06
dtype: float64

In [20]:
# Calculate the mean for each column in the fnl_price dataset
fnl_price.apply(np.mean)

price_at_close    77.071388
previous_close    77.159628
dtype: float64

In [21]:
# Calculate the median for each column in the fnl_price dataset
fnl_price.apply(np.median)

price_at_close    46.06
previous_close    46.14
dtype: float64

In [22]:
# Calculate the mode for the columns in the fnl_price dataset
fnl_price.mode(axis=0)

# I'm not sure how to use the apply function to calculate the mode
# I tried using the code below, but it doesn't seem to do the same thing. 
# fnl_price.groupby('price_at_close').previous_close.apply(lambda x: x.mode())

   price_at_close  previous_close
0            21.0            21.0

In [23]:
# Calculate the range for each column in the fnl_price dataset
print(fnl_price.min(axis=0))
print(fnl_price.max(axis=0))

price_at_close    0.0
previous_close    0.0
dtype: float64
price_at_close    991.8
previous_close    991.8
dtype: float64

In [24]:
# I tried to calculate the range using the code below, but none of these seemed to work

# fnl_price.groupby('price_at_close').apply(lambda x: x.price_at_close.max() - x.price_at_close.min()

# fnl_price.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, 
#                   observed=False, dropna=True).range

# fnl_price.apply(np.range)

# fnl_price.apply(np.percentile)

In [25]:
# Calculate the sum for each row in the fnl_price dataset
fnl_price.apply(np.sum,axis=1)

2        267.04
3        299.10
4        525.20
6         37.93
7        112.47
          ...
67900     17.92
67901     59.36
67902     14.02
67903    110.25
67904    137.19
Length: 67125, dtype: float64

In [26]:
# Calculate the mean for each row in the fnl_price dataset
fnl_price.apply(np.mean,axis=1)

2        133.520
3        149.550
4        262.600
6         18.965
7         56.235
          ...
67900      8.960
67901     29.680
67902      7.010
67903     55.125
67904     68.595
Length: 67125, dtype: float64

In [27]:
# Calculate the median for each row in the fnl_price dataset
fnl_price.apply(np.median,axis=1)

2        133.520
3        149.550
4        262.600
6         18.965
7         56.235
          ...
67900      8.960
67901     29.680
67902      7.010
67903     55.125
67904     68.595
Length: 67125, dtype: float64

In [28]:
# Calculate the mode for each row in the fnl_price dataset
fnl_price.mode(axis=1)

            0       1
2      133.20  133.84
3      149.48  149.62
4      262.01  263.19
6       17.64   20.29
7       56.23   56.24
...       ...     ...
67900    8.81    9.11
67901   29.52   29.84
67902    7.01     NaN
67903   55.11   55.14
67904   66.72   70.47

[67125 rows x 2 columns]

In [29]:
# Code below is test
# df.apply(avg, axis=1, broadcast=None, raw=False, reduce=None, result_type=None, 
#                     args=('price_at_close','previous_close'), **kwds)